[submodule "submodules/lucene"]
	path = submodules/lucene
	url = https://github.com/kevindrosendahl/lucene.git
	branch = ann-sandbox
[submodule "submodules/jvector"]
	path = submodules/jvector
	url = https://github.com/kevindrosendahl/jvector.git
	branch = ann-sandbox
