<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.lucene" level="WARN"/>
  <logger name="io.github.jbellis.jvector" level="WARN"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
